aiohttp==0.20.2
aiohttp-auth==0.1.1
aiohttp-session==0.5.0
aioredis==0.2.4
aiozmq==0.7.1
alembic==0.8.3
blinker==1.4
cffi==1.7.0
chardet==2.3.0
click==6.6
cryptography==1.4
decorator==4.0.10
docopt==0.6.2
Flask==0.11.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.0
Flask-User==0.6.4
Flask-WTF==0.12
hiredis==0.2.0
idna==2.1
infinity==1.4
intervals==0.8.0
irc3==0.8.3
-e git+git@github.com:waartaa/ircb.git@83af645c6fff8bbef039d734a0509ac230017d3e#egg=ircb
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
msgpack-python==0.4.7
passlib==1.6.5
pexpect==4.2.0
pickleshare==0.7.3
prompt-toolkit==1.0.3
ptyprocess==0.5.1
py-bcrypt==0.4
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
Pygments==2.1.3
python-editor==1.0.1
PyYAML==3.11
pyzmq==15.3.0
redis==2.10.5
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
socketIO-client==0.7.0
SQLAlchemy==1.0.13
SQLAlchemy-Utils==0.30.15
tabulate==0.7.5
ticket-auth==0.1.4
traitlets==4.2.2
validators==0.10.3
venusian==1.0
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.11.10
WTForms==2.1
WTForms-Alchemy==0.15.0
WTForms-Components==0.10.0
